body {
    font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
}

#imge {
    display: flex;
    align-items: center;
    width: 1100px;
    height: 100px;
    justify-content: space-between;
    margin: auto;
    padding-left: 20px;


}

#imge>img {
    width: 320px;
    /* height: 40px; */

}

#imge>button {
    width: 170px;
    height: 7vh;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    border: none;
    background-color: #085ff7;
    color: white;
}

#imge>button:hover {
    background-color: #0e3881;
    cursor: pointer;
}

#fte {
    display: flex;
    width: 1345px;
    margin: auto;
    /* padding: 30px; */
    align-items: center;
    height: 150px;
    background-image: url("https://www.rosenthalcounsel.com/images/blog/blog-img-3.jpg");
    color: white;

}

#fte>p {

    margin-left: 10%;
    font-size: 45px;
    display: flex;
    align-items: center;
}

#how {
    width: 43%;
    text-align: center;
    margin: auto;
    line-height: 25px;
    color: rgb(58, 53, 53);

}

#how>p:nth-child(1) {
    font-size: 35px;
    margin-bottom: -2px;
    margin-top: 7%;
}

#box1 {
    display: flex;
    width: 1050px;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    /* justify-content: space-around; */
    gap: 40px;
    margin: auto;
    color: rgb(75, 71, 71);


}

#box1>div {
    width: 430px;
}

#im>img {

    width: 580px;
    align-items: center;
    margin-top: 2%;
    padding: 20px;
    margin-top: 20%;
    padding-right: 20px;
}

p1 {
    font-size: 33px;
}

#p2 {
    font-size: 25px;
    margin-bottom: -3%;
}

#p3 {
    font-size: 25px;


}

#to {
    margin-top: 8px;
    margin-bottom: 10%;
}

span {
    color: #255cb2;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

#sp {

    margin-top: -1%;
    cursor: pointer;
    font-size: 14px;
}

#any {
    margin-bottom: 10%;
}

#ler {
    font-size: 15px;
}

#box2 {
    display: flex;
    width: 1050px;
    align-items: center;
    font-size: 19px;
    line-height: 28px;
    justify-content: space-around;
    gap: 40px;
    margin: auto;
    color: rgb(75, 71, 71);
    margin-top: 5%;
    margin-bottom: 5%;

}

#inded>p:nth-child(1) {
    font-size: 33px;
}

#inded {
    margin-left: 12%;
}

#inded>p:nth-child(2) {
    margin-top: -4%;
}

#inded>p:nth-child(3) {
    margin-top: 10%;
    color: #255cb2;
    text-decoration: underline;
    cursor: pointer;
}

#box3 {
    display: flex;
    width: 1050px;
    align-items: center;
    font-size: 19px;
    line-height: 28px;
    justify-content: space-around;
    gap: 40px;
    margin: auto;
    color: rgb(75, 71, 71);
    margin-top: 5%;
    margin-bottom: 5%;
}

#mobile {
    margin-right: 8%;
}

#mobile>p:nth-child(1) {
    font-size: 33px;
    margin-bottom: 1%;
}

#mobile>p:nth-child(3) {
    color: #255cb2;
    text-decoration: underline;
    margin-top: 10%;
}

#mobile>p:nth-child(4) {
    font-size: 15px;
}

#box4 {
    display: flex;
    width: 1050px;
    align-items: center;
    font-size: 19px;
    line-height: 28px;
    justify-content: space-around;
    gap: 40px;
    margin: auto;
    color: rgb(75, 71, 71);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
}

#feat {
    margin-left: 5%;
}

#feat>p:nth-child(1) {
    font-size: 33px;
    margin-bottom: 1%;
}

#feat>p:nth-child(3) {
    margin-top: 10%;
}

#box5 {
    display: flex;
    width: 1150px;
    /* align-items: center; */
    font-size: 18px;
    line-height: 28px;
    /* justify-content: space-around; */
    /* gap: 40px; */
    margin: auto;
    color: rgb(75, 71, 71);
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: 15%; */

    padding: 20px;
}

#company {
    width: 600px;

    margin-left: 3%;

}

#company>p:nth-child(1) {
    font-size: 33px;
    margin-bottom: 1%;
}

#company>p:nth-child(3) {
    margin-top: 15%;
}

#box5>img {
    width: 600px;
    margin-right: 10%;
}

#box6 {
    display: flex;
    width: 1050px;
    align-items: center;
    font-size: 19px;
    line-height: 28px;
    justify-content: space-around;
    gap: 40px;
    margin: auto;
    color: rgb(75, 71, 71);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}

#indeed {
    margin-left: 2%;
}

#indeed>p:nth-child(1) {
    font-size: 33px;
    margin-bottom: 1%;
}

#indeed>p:nth-child(3) {
    margin-top: 10%;
}

#box7 {
    height: 140px;
    background-color: #e8f3fc;
    display: flex;
    /* justify-content: space-between; */
    font-size: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

#box7>div {
    width: 250px;
    margin-left: 10%;
    margin-right: 10%;
}

#box7>div>button {
    width: 200px;
    height: 7vh;
    font-size: 17px;
    color: white;
    background-color: #255cb2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#box7>div>button:hover {
    background-color: #14376f;
}

#f {
    transform: rotate(90deg);
    width: 130px;

}

#footer {
    display: flex;
    width: 100%;
    /* gap: 40px; */
    justify-content: space-around;
    background-color: #f3f2f1;
    margin-top: 5%;
    padding-bottom: 40px;
    padding-top: 20px;

}

#right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer>div>p {
    width: 90%;
}

#footer>div>button {
    background-color: white;
    width: 30%;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    /* padding:10px; */
    border: 1px solid gray;
    color: #2557a7;
    border-radius: 8px;
    margin-left: 15px;
}

#right>div>p {
    font-size: 13px;
    cursor: pointer;
    color: gray;
}

#right>div>p:hover {
    color: black;
}

#footer>div>button:hover {
    cursor: pointer;
    background-color: #bccfed;
}

#footer>div>button:nth-child(3) {
    width: 24%;
}

#foot {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
}

#foot>div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#foot>div:hover {
    color: #2557a7;
    /* background-color: #0d2d5e; */
}