#h1 {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
    /* border: 1px solid red; */
    font-style: normal;
    margin-right: 170px;
    margin-top: 110px;
    margin-left: 170px;
    padding: 40px;
}

#heading {
    font-size: 44px;
    line-height: 55px;
    color: #2d2d2d;
    font-weight: 700;
}

#access {
    font-weight: 400;
    size: 20px;
    line-height: 30px;
    color: #595959;
}

#h3 {

    font-weight: 700;
    size: 16px;
    line-height: 10px;
    color: #2d2d2d;
}

#h4 {
    font-weight: 700;
    size: 16px;
    line-height: 18px;
    color: #164081;
}

#input {
    padding: 8px 150px 8px 150px;
    border-radius: 8px;
    border-color: grey;
    border: 1px solid #2d2d2d;
    font-size: 20px;


}

/* #box {
    border: 1px solid blue;
} */

#input:hover {
    border-color: blue;
}

#input:focus {
    border-bottom: 5px solid blue;
    outline: none;

}

#companies {
    margin-top: 80px;
}

#find {
    padding: 8px 80px 8px 80px;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #2557a7;
    background-color: #2557a7;
}

#find>a {
    text-decoration: none;
    color: #fff;
}

/* #compare {
    border: 1px solid brown;
} */

#rate {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* border: 1px solid teal; */
    /* gap: 10px; */
    background-color: #f5fbf9;
    border-radius: 5px;
    font-size: 10px;
    padding: 6px 10px 6px 10px;
}

#rate img {

    width: 3%;
    height: 25px;
}

/* #rate img:hover{
background-image: ;
} */
#b1 {
    display: flex;
    gap: 20px;
    color: #2d2d2d;
    font-size: .875rem;

}

#b1 h3>a {
    text-decoration: none;
    color: #2d2d2d;
}

#b1 h3:hover {
    text-decoration: underline;
}

#b2 {
    display: flex;
    gap: 20px;
    color: #2d2d2d;
    font-size: .875rem;
}

#b2 h3>a {
    text-decoration: none;
    color: #2d2d2d;
}

#b2 h3:hover {
    text-decoration: underline;
}

#container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


#rating {
    color: purple;
    font-size: 25px;
}

#bx2 {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin-top: -30px;
}


#b {
    padding: 5px;
    display: flex;
    gap: 20px;
}

#rating {
    margin-top: -20px;
}

#bx1:hover {
    text-decoration: underline;
}

#div:hover {
    text-decoration: underline;
}

#img {
    border-radius: 10px;
}

#container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
   
}
#container2 img{
    border-radius: 10px;
    height: 50px;
    margin-left: 20px;
}

#continer2>div>div{
    display: flex;
    
}
.c2{
    display: flex;
    
   
}
.c2>div{
    display: flex;
   
}
#lala{
    margin-top: 100px;
}
.boxes{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.c2 img{
    margin-top: 20px;
}
pre{
    display: flex;
    justify-content: space-between;
}

#coll{
   
    border-radius: 5px;
    
    width: 100%;
}

#g{
    display: flex;
    
}

#im{
    border-radius: 10px;
    margin-right: 20px;
   
}
#f{
    /* border: 1px solid black; */
   width: 60%; 
  
}


 #d{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin-top: 10px;
   
  
 }

 #g{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
    color: blue;
 }
 #g:hover{
    text-decoration: underline;
 }

 #tit{
    font-family:fantasy;
 }
 #rat{
    color: purple;
   
 }

 /* navbar */

 #navbar {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    font-size: 18px;
    padding: 4px 0px;
    border-bottom: 1px solid gray;
    background-color: #FFFFFF;
    /* position: relative; */
    margin-bottom: -8%;
}

#img1 {
    width: 150px;
    height: 50px;
    padding: 5px;
}

#img2 {
    width: 48 px;
    height: 48px;
    padding: 5px;
    margin-left: -20px;
}

p1 {
    margin-top: 25px;
    color: rgb(80, 79, 79);

}

#first {
    display: flex;
    gap: 30px;
    margin-left: 20px;
}

#second {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    margin-bottom: 10px;

}

p1:hover {
    border-bottom: 2px solid rgb(11, 11, 141);
    cursor: pointer;
}